.home{
  overflow: hidden;
  .title{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    line-height: 1.4;
    font-family: 'Dosis', sans-serif;
    color: #111;
}
.section1{
    .hooper {
    
        height: fit-content !important;
        margin-top: 50px;
    }
    .contentt
    {
     position: absolute;
      top:35%;
      left: 8%
      
    }
    .title{
      color: white;
      position: relative;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
    }
    .subTitle{
    
      color: white;
    }
    .coverBtn{
        font-size: 14px;
      background-color: #f5eeee08;
      border-color: white;
      color: #ffffff;
  }
  .coverBtn:hover{
    color: black !important;
      background-color: white !important;
  }
    .background{
      position :relative
    }
    .textColor{
      color: #75b239 ;
    }
    .pic{
       /* min-height: 500px !important; */
       background-size: cover;
       height: 93vh;
    }
 

    @media screen and(max-width:762px) {
        .title{
            color: white;
            position: relative;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.9;
          text-transform: uppercase;
          }
          .hooper{
            margin-top: 40px;
          }
          .contentt{
            top: 45%;
            left: 6%;
          }
    }
}
/**** section 2 **/

.section2{
  
    .word{
        color: #777;
        text-align: left;
        font-size: 20px;
    
    }
    p{
        font-size: 15px;
    font-weight: 300;
    color: #777;
    line-height: 1.7;
    text-align: left;
    font-family: "Open Sans", arial, sans-serif;

    }
    span{
        @extend p ;
        text-align:center

    }
}


/*** section 3 ***/

.section3{
 

  .card{
  //   animation-name: mymove;
  //   animation-duration: 2s;
  // animation-iteration-count: 1;
  animation: backInUp; 
  animation-duration: 2s; 
    position: relative;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    text-align: left;
    border-radius: 4%;
    height: 250px;
    padding: 3%;
    background-color: #000000 ;
    line-height: 1.8;
    h6{
      text-align: center;
      font-family: 'Dosis', arial, sans-serif;
       text-transform: uppercase;
       letter-spacing: 0.2em;
       line-height: 1.4;
       color: #111;
    }
    .heading{
      
      color: white;
      font-size: 18px;
      position: absolute;
      left: 9%;
      top: 40%;
        text-align: center;
        z-index: 99;
      li{
        display: block;
        text-align: center;
       h4{ 
       
      text-transform: uppercase;
      letter-spacing: 0.2em;
      text-align: center;
       }

      }
    }
    
  }
  .card:hover{
    background-color: #ededed;
    border-color: rgb(237, 237, 237);

  }
  .underhead{
    font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  color: #777;
  text-align: center;
  }
}

@keyframes mymove {
  from {top: 200px;}
  to {top: 0px;}
}

.section4{
  
 
  .pic{
    width: 100%;
    height: 200px;
  }

}

.section5{
 
  .head{
    margin-bottom: 21px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: #111;

  }
  .pragh{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    // text-align: left;
  }

}
.careers{
  .text{
    font-size: 15px;
    font-weight: 300;
    color: #777 !important;
    line-height: 1.7;
  }
}
}

.contactUs{
  .heading{
    margin-bottom: 1px;
    color: #777;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    line-height: 1.6;
    text-align: left;

  }
  .pragh{
    font-weight: 300;
    line-height: 1.6;
    font-size: 15px;
    text-align: left;
  }
  .map{
    height: 350px;
    width: 100%;
    margin-bottom: 15px;
  }
}

/*footer  */
.foter{
  background-color: #f5f6f7 ;
  padding: 5%;

 ul{
  list-style: none;
  font-size: 20px;
}
 li{
  display: inline-block
}
i{
  font-size: 35px;
  margin-right: 20px;
  margin-top: 11px;
}

}